*.iml
.DS_Store
__pycache__/
*.pyc
.gradle
.gradle-local/
.gradle-local-review/
.android-local/
.gradle-user-home/
$PWD/
.kotlin/
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/build
**/build/
/captures
.externalNativeBuild
.cxx
local.properties
/app/google-services.json
